# Copyright (c) 2024 The ZMK Contributors 
# SPDX-License-Identifier: MIT

if SHIELD_NII_LEFT

config ZMK_KEYBOARD_NAME
    default "NII"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_NII_LEFT || SHIELD_NII_RIGHT

config ZMK_SPLIT
    default y

endif
