if SHIELD_NII_LEFT

config ZMK_KEYBOARD_NAME
    default "NII"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_NII_LEFT

if SHIELD_NII_LEFT || SHIELD_NII_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_NII_LEFT || SHIELD_NII_RIGHT
