#include <physical_layouts.dtsi>

/ {
    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "Nii Default Layout";
        kscan = <&kscan0>;
        transform = <&default_transform>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0  146  (-900)    50   196>
            , <&key_physical_attrs 100 100   96  131  (-900)   146   181>
            , <&key_physical_attrs 100 100  191   37  (-600)   241    87>
            , <&key_physical_attrs 100 100  297    0  (-300)   347    50>
            , <&key_physical_attrs 100 100  406   69       0     0     0>
            , <&key_physical_attrs 100 100  504   69       0     0     0>
            , <&key_physical_attrs 100 100  997   69       0     0     0>
            , <&key_physical_attrs 100 100 1094   69       0     0     0>
            , <&key_physical_attrs 100 100 1203    0     300  1253    50>
            , <&key_physical_attrs 100 100 1309   37     600  1359    87>
            , <&key_physical_attrs 100 100 1405  131     900  1455   181>
            , <&key_physical_attrs 100 100 1501  146     900  1551   196>
            , <&key_physical_attrs 100 100   15  242  (-900)    65   292>
            , <&key_physical_attrs 100 100  111  227  (-900)   161   277>
            , <&key_physical_attrs 100 100  202  134  (-600)   252   184>
            , <&key_physical_attrs 100 100  302   97  (-300)   352   147>
            , <&key_physical_attrs 100 100  406  166       0     0     0>
            , <&key_physical_attrs 100 100  504  166       0     0     0>
            , <&key_physical_attrs 100 100  997  166       0     0     0>
            , <&key_physical_attrs 100 100 1094  166       0     0     0>
            , <&key_physical_attrs 100 100 1198   97     300  1248   147>
            , <&key_physical_attrs 100 100 1299  134     600  1349   184>
            , <&key_physical_attrs 100 100 1389  227     900  1439   277>
            , <&key_physical_attrs 100 100 1486  242     900  1536   292>
            , <&key_physical_attrs 100 100   30  338  (-900)    80   388>
            , <&key_physical_attrs 100 100  127  323  (-900)   177   373>
            , <&key_physical_attrs 100 100  212  231  (-600)   262   280>
            , <&key_physical_attrs 100 100  308  194  (-300)   358   245>
            , <&key_physical_attrs 100 100  406  263       0     0     0>
            , <&key_physical_attrs 100 100  504  263       0     0     0>
            , <&key_physical_attrs 100 100  997  263       0     0     0>
            , <&key_physical_attrs 100 100 1094  263       0     0     0>
            , <&key_physical_attrs 100 100 1193  194     300  1243   245>
            , <&key_physical_attrs 100 100 1289  231     600  1339   280>
            , <&key_physical_attrs 100 100 1374  323     900  1424   373>
            , <&key_physical_attrs 100 100 1470  338     900  1520   388>
            , <&key_physical_attrs 100 100  406  395       0     0     0>
            , <&key_physical_attrs 100 100  504  395       0     0     0>
            , <&key_physical_attrs 100 100  608  403     900   658   453>
            , <&key_physical_attrs 100 100  893  403  (-900)   943   453>
            , <&key_physical_attrs 100 100  997  395       0     0     0>
            , <&key_physical_attrs 100 100 1094  395       0     0     0>
            ;
    };

};
