// /__w/zmk-config-NII/zmk-config-NII/boards/shields/nii/nii_left.overlay
// UPDATED based on translating Old Index numbers (1-14) to actual D-pins (D0-D10)

#include "nii.dtsi" 

&kscan0 {

    col-gpios
        = <&xiao_d 4 (GPIO_ACTIVE_HIGH)> // COL0 - was D7, now using D4 (duplicating COL3's pin)
        , <&xiao_d 3 (GPIO_ACTIVE_HIGH)> // COL1 - was D8, now using D3 (duplicating COL4's pin)
        , <&xiao_d 2 (GPIO_ACTIVE_HIGH)> // COL2 - was D9, now using D2 (duplicating COL5's pin)
        , <&xiao_d 4 (GPIO_ACTIVE_HIGH)> // COL3 - unchanged
        , <&xiao_d 3 (GPIO_ACTIVE_HIGH)> // COL4 - unchanged
        , <&xiao_d 2 (GPIO_ACTIVE_HIGH)> // COL5 - unchanged
        ;

    row-gpios
        = <&xiao_d 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // ROW0 - unchanged
        , <&xiao_d 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // ROW1 - was D5, now using D1 (duplicating ROW2's pin)
        , <&xiao_d 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // ROW2 - unchanged
        , <&xiao_d 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // ROW3 - unchanged
        ;
};


